logs
.logs
./logs
**/logs

minio_data
.minio_data
./minio_data

__pycache__
./__pycache__
**/__pycache__

postgres-db-volume
./postgres-db-volume
**/postgres-db-volume

minio_data
./minio_data
**/minio_data